#followbutton {
    background-color: #428bfc;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 6%;
    margin-top: 10%;
    width:120%;
}

#unfollowbutton {
    background-color: #d2322d;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 6%;
    margin-top: 10%;
    width:120%;
}

.rbc-img-responsive {
    height: 4% !important;
}

.rbc-sortoptions.input-field.col {
    visibility: hidden;
}

.rbc.rbc-textfield {
    height: 50;
    width: 20%;
    margin: 2 2 10 15;
    float: left;
}

.rbc.rbc-togglebutton .rbc-btn{
    width: 35%;
}
.rbc.rbc-togglebutton {
    background-color: #dadada;
    height: 50px;
    box-shadow: none;
    width: 35%;
}

.rbc-buttongroup {
    background-color: #dadada;
    height: 50px;
    box-shadow: none;
}

.rbc.rbc-datacontroller {
    padding: 0;
    margin: 0;
    border: 0;
}

.rbc.rbc-reactivelist {
    padding: 0;
    margin: 0;
    border: 0;
}

.collection {
    margin: 0;
}

.collection-item {
    margin: 0;
}

.card {
    margin: 0;
}

.nav {
    height: 45px;
    line-height: 64px;
}

.rbc-title {
    font-size: 25px;
    margin: 4%;
}

.rbc-btn {
    padding: 1%;
    width: 30%;
    height: 40px;
}

.btn {
    background-color: #428bca;
    text-align: 'center';
    color: 'white';
    margin: 5px 20px 0 20px;
    padding: 1%;
    height: 40px;
    line-height: 4px;
    
}

.waves-effect.waves-light.btn {
    text-transform: capitalize;
}

.waves-effect.waves-light.grey.lighten-4.btn {
    color: #777;
    padding: 1%;
}

.waves-button-input {
    border-radius: 1%;
    padding: 1%;
    text-transform: capitalize;
    font-family: sans-serif;
}

.input.waves-button-input {
    height: 30px;
    text-transform: capitalize;
}

.btn:hover {
    background-color: #428bfc;
    color: white;
}

.col.s4.btn.disabled {
    background-color: #5bc0de !important;
    color: #fff !important;
    padding: 3%;
    text-transform: capitalize;
    width: auto;
}