.followbutton {
    background-color: #428bfc;
}

.unfollowbutton {
    background-color: #d2322d;
}

.fbutton {
    color: white;
    border-radius: 3px;
    border: none;
    padding: 6%;
    margin-top: 10%;
    width:120%;
}

nav a:not(#viewcode){ 
    float: left;
    font-size: 130%; 
    width: 15%; 
    margin: -0.6% auto 2% 2.5%;
    color: black;
}

.tweet {
    margin: 1% 3% 1% 3%;
}

.labeltweet {
    float: right;
}

#globalButton {
    width: 30%;
}
#personalButton {
    width: 30%;
}
.mtop-15 {
    margin-top: 15%;
}

#user {
    margin: 3% auto 3% 5%;
}

#navbar {
    color: black;
    background-color: #dadada;
    height: 60px;
}

nav {
    color: black;
    background-color: #dadada;
    height: 60px;
}

.nav-wrapper {
    margin: 0.4% auto auto auto;
} 

.searchBarBlock { 
    width: 30%;
    float: left;
    margin-top: 5px;
}

nav form input { 
    height: 65%; 
    width: 45%; 
}

.viewCodeBlock { 
    float: right; 
    margin: 0 2% 0 0;
    width: 15%; 
}

.navOptions {
    float: right;
    width: 50%;
}

.buttonNavOptions {
    width: 30%;
}

form > .buttonNavOptions{
    width: 20%;
    margin-top: -1%;
}


.tweetToggleBlock {
    float: left;
    width: 50%;
}

#userblock {
    height: 25%; 
}

#userblock div{
    margin: 0 auto 0 auto; 
}

#userblock img {
    height: 100px;
    padding: 3%; 
    margin: 0 0 0 25%;
}

#userblock h3 {
    text-align: center;
    margin-top: auto
}

.userslist { 
    margin-top: 5%;
    height: auto;
}

#inputtweet {
    width: 80%;
    height: 45px;
    margin: 5% 0 0 0;
}

#loginform {
    padding: 0.5%;
}

#login input {
    width: 85%;
    background-color: #fafafa;
    margin: 3% 3% 4% 7%;
    font-size: 20px;
}

#login button {
    width: 50%;
    margin: 0% auto 2% 23%;
    padding: 2px; 
}

#login > .waves-effect.waves-light.btn.waves-input-wrapper {
    width: 50% !important;
    margin: 0% auto 2% 23% !important;
    padding: 2px !important;
}

.form-m2 {
    margin: 2%;
}

.tweetslist {
    margin: 0 10% 0 10%;
}

.mtop-3 {
    margin-top: 3%;
}

.userinfo {
    max-width: 800;
    margin-left: 10%;
    margin-top: 2%;
}

#userinfoBlock {
    float: left;
    width: 20%;
}

#userinfoBlock img{
    height: 100px;
    margin: 15% 10% 15% 15%;
}

.userSide {
    float: left;
    width: 80%;
}

#userSideBlock {
    float: left;
}

#userSideBlock h3 {
    float: left;
}

.followblock {
    width: 100%;
    float: left;
}

.followersno {
    margin-left: 2% !important;
    margin-right: 1% !important;
}

.personaltweets{
    margin-top: 3%;
}

.rbc-blue a {
    color: #039BFA; 
}

.waves-input-wrapper .waves-button-input{
    line-height: 32px !important;
}

.rbc-img-responsive {
    height: 4% !important;
}

.rbc-sortoptions.input-field.col {
    visibility: hidden;
}

.rbc.rbc-textfield {
    height: 50;
    width: 20%;
    margin: 2 2 10 15;
    float: left;
}

.rbc.rbc-togglebutton .rbc-btn{
    width: 35%;
}
.rbc.rbc-togglebutton {
    background-color: #dadada;
    height: 50px;
    box-shadow: none;
    width: 35%;
}

.rbc-buttongroup {
    background-color: #dadada;
    height: 50px;
    box-shadow: none;
}

.rbc.rbc-datacontroller {
    padding: 0;
    margin: 0;
    border: 0;
}

.rbc.rbc-reactivelist {
    padding: 0;
    margin: 0;
    border: 0;
}

.collection {
    margin: 0;
}

.collection-item {
    margin: 0;
}

.card {
    margin: 0;
}

.nav {
    height: 45px;
    line-height: 64px;
}

.rbc-title {
    font-size: 25px;
    margin: 4%;
}

.rbc-btn {
    padding: 1%;
    width: 30%;
    height: 40px;
}

.btn {
    background-color: #428bca;
    text-align: 'center';
    color: 'white';
    margin: 5px 20px 0 20px;
    padding: 1%;
    height: 40px;
    line-height: 4px;
    
}

.waves-effect.waves-light.btn.blue.lighten-2 {
    color: white;
    line-height: 250%; 
    padding: 0 4% 0 4%; 
}

.waves-effect.waves-light.btn {
    text-transform: capitalize;
    background-color: #428bfc;
}

#searchbar >.waves-effect.waves-light.btn {
    width: 20%;
    font-size: 16px;
    height: 40px;
    text-transform: capitalize;
    margin-top: -1%;
}


.waves-effect.waves-light.grey.lighten-4.btn {
    color: #777;
    padding: 1%;
}

.waves-button-input {
    border-radius: 1%;
    padding: 1%;
    text-transform: capitalize;
    font-family: sans-serif;
}

.input.waves-button-input {
    height: 30px;
    text-transform: capitalize;
}

.btn:hover {
    background-color: #428bfc;
    color: white;
}

.col.s4.btn.disabled {
    background-color: #5bc0de !important;
    color: #fff !important;
    padding: 3%;
    text-transform: capitalize;
    width: auto;
}